

@font-face {
  font-family: "HaxrCorp 4089 Cyrillic AltGr";
  @import url("./fonts/haxrcorp.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: "HaxrCorp 4089 Cyrillic AltGr", monospace;
}

:root {
  --dark-bg: #131c21;
  --white-bg: #131c21;
  --white-alt: #e5e4e5;
}

::selection {
  background: #9c0d11;
}

body {
  background-color: var(--dark-bg);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.4s ease-out;
  overflow: hidden;
  justify-content: center;
}

body.light {
  background-color: var(--white-bg);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  pointer-events: none;
}

#greetings {
  font-family: "HaxrCorp 4089 Cyrillic AltGr", monospace;
  background: linear-gradient(270deg, #c7fba5 0%, #adf182 25%,#dc7d68 50%, #916cad 75%, #523874 100%);
    background-clip: border-box;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
animation: flow 7s ease-in-out infinite;
background-size: 200% auto;
pointer-events: none;
}
body.light #greetings {
  background: linear-gradient(270deg, #97B4F5 0%, #C1D1FC 50%, #DAE1FA 100%);
    background-clip: border-box;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
@keyframes flow {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}

.input_box {
  border: none;
  outline: none;
  background: transparent;
  padding: 13px;
  color: var(--white-alt);
  font-size: 20px;
  transition: 0.4px all;
  border-radius: 5px 5px 5px 5px;
  width: 350px;
  margin-bottom: 25px;
  transition: 0.17s ease-in-out;
}

.input_box:hover,
.input_box:focus,
.input_box:active {
  background: #2c2c2c;
}

.left {
  overflow: hidden;
  margin-right: 50px;
  border: 0px solid;
  position: relative;
 /* box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.4); */
}

.left img {
  position: absolute;
  transform: translateY(-0.5px);
}

.column-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.column {
  display: flex;
  flex-direction: column;
  padding: 15px 30px 15px 15px;
  font-size: 18px;
}

.column:nth-child(1) {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.column:nth-child(4) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.column p {
  color: var(--white-alt);
  padding-bottom: 10px;
  transition: 0.4s;
}

.column a {
  text-decoration: none;
  color: #e5e4e5;
  transition: 0.3s;
  letter-spacing: 0.6px;
  padding: 5px;
  border-radius: 5px;
}

.column a.hover:hover {
  color: var(--white-alt);
  background: #9c0d11;
  transform: translateY(-3px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

img {
  width: 17px;
  transform: translateY(2px);
  transition: 0.4s ease-out;
  margin-right: 4px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

@media screen and (max-width: 637px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 439px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/* DARK MODE */

#toggle {
  position: absolute;
  display: block;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

#toggle span:nth-child(1) {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  background: transparent;
  width: 30px;
  height: 30px;
  border-bottom: 3px solid var(--white-bg);
  border-radius: 50%;
  transform: rotate(45deg);
  filter: blur(0.5px);
  transition: 0.4s ease-out;
}

#toggle span:nth-child(2) {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  background: transparent;
  width: 30px;
  height: 30px;
  border-top: 3px solid var(--white-bg);
  border-radius: 50%;
  transform: rotate(45deg) translateX(-5px) translateY(10px);
  filter: blur(0.5px);
  transition: 0.4s ease-out;
}

body.light #toggle span:nth-child(1) {
  border-bottom: 3px solid var(--dark-bg);
}

body.light #toggle span:nth-child(2) {
  border-top: 3px solid transparent;
  transform: rotate(0deg) translateX(-5px) translateY(10px);
}

body.light .input_box {
  color: var(--white-alt);
}

body.light .input_box:hover,
body.light .input_box:focus,
body.light .input_box:active {
  background: var(--white-alt);
  color: var(--dark-bg);
}

body.light .column p {
  color: var(--white-alt);
}

body.light .column a.hover:hover {
  color: #44475a;
  background: var(--white-alt);
}

body.light img {
  -webkit-filter: grayscale(60%) brightness(1.3); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) brightness(1.3);
}

body.light ::selection {
  background: #9c0d11;
}

#date {
  position: absolute;
  top: 30px;
  left: 30px;
  transition: 0.4s ease-out;
  font-style: italic;
  font-weight: 500;
  text-decoration: underline;
}

.runs {
  background: url(https://i.imgur.com/dsxSxFB.png) 50% no-repeat;
  background-size: auto;
  background-size: 100% auto;
  left: 50%;
  pointer-events: none;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  position: fixed;
  filter: grayscale(100%);
  z-index: -1;
}
.runs-a{
  -webkit-animation: inner-circle-moves 100s linear infinite;
  animation: inner-circle-moves 100s linear infinite;
  background: url(https://i.imgur.com/I5yJNTR.png) 50% no-repeat;
  background-size: auto;
  background-size: 100% auto;
  left: 50%;
  pointer-events: none;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  
}

@keyframes inner-circle-moves {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(359deg);
  }
}

.runs-b {
  -webkit-animation: runes-moves 100s linear infinite;
  animation: runes-moves 100s linear infinite;
  background: url(https://i.imgur.com/hxZ4zwL.png) 50% no-repeat;
  background-size: auto;
  background-size: 100% auto;
  left: 0%;
  pointer-events: none;
  top: 0%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  position: fixed;
  
}

@keyframes runes-moves {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(-359deg);
  }
}

body.light .runs{
  filter: invert(100%) grayscale(100%);
  
}

.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 96%;
  
  z-index: -11;
}
body.light .lines{
  opacity: 1;
}
.line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(143,188,187, 0.1);
  overflow: hidden;
}
body.light .line::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(to bottom, rgba(143,188,187, 0) 0%, #e5e4e550 75%, #e5e4e58f 100%);
  -webkit-animation: drop 7s 0s infinite;
          animation: drop 7s 0s infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
          animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}
body.light .line:nth-child(1) {
  margin-left: -25%;
}
body.light .line:nth-child(1)::after {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
body.light .line:nth-child(3) {
  margin-left: 25%;
}
body.light .line:nth-child(3)::after {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}
.line::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(to bottom, rgba(143,188,187, 0) 0%, #9c0d1252 75%, #9c0d12b2 100%);
  -webkit-animation: drop 7s 0s infinite;
          animation: drop 7s 0s infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
          animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97); }
.line:nth-child(1) {
  margin-left: -25%;
}
.line:nth-child(1)::after {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
 .line:nth-child(3) {
  margin-left: 25%;
}
.line:nth-child(3)::after {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

@-webkit-keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}